<a href="https://colab.research.google.com/github/rohitboltfree/Pyhon01/blob/main/string_%26_print_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text = "Hello world! Welcome to the world of Python."
# sub = num[2:6]
# print(sub)

print(text.replace("Hello","welcome" ))
print(text.find("to"))
print(text.endswith("on."))

welcome world! Welcome to the world of Python.
21
True

In [ ]:
def real(x,a,b,c) :
  return a*x**2 + b*x + c
# Example usage:
x_value = 12
a = 1  # Coefficient of x^2
b = -2  # Coefficient of x
c = 1  # Constant term
y_value = real(x_value, a, b, c)
print(f"For x = {x_value}, y = {y_value}")

For x = 12, y = 121

In [ ]:
print('The value of PI is %10.3f' % 322.1417)

The value of PI is    322.142

In [ ]:
# example of field width
print("%23.1f" %(4.5*5.4))

                   24.3

In [ ]:
# using simply
print("*")
print("**")
print("***")
print("****")
print("*****")

# using one print words
print("*\n**\n")

*
**
***
****
*****
*
**

In [ ]:
# by using for loop
row = 5
for i in range(1, row + 1):
  print("*" * i)

*
**
***
****
*****

In [ ]:
""" [::-1] is a special slicing syntax that means
 "start from the beginning, go to the end,
  and step backwards by 1". This effectively
   reverses the string.
"""
text = input("Enter a string: ")
print(text[::-1])

Enter a string: tennet
tennet

In [9]:
# logical operators

a =10
b=20
c=14
d=12

#simple method to find the min value using min OR and AND
min1 = a<d<c<b
min2  = b<a<c<d
min3 = c<d<a<b
min4 = d<a<b<c
print(min1)
print(min2)
print(min3)
print(min4)

num = (min1 * a) + (min2 * b) + (min3 * c) + (min4 * d)
not(num)
print(num)
print("num",num)


# #using min or max
# print(min(a,b,c,d))
# print(max(a,b,c,d))

# #now we have to us logical operator
# print(a<b and b<c and c<d)
# #create the code for to tell the smallest no
# print(min(a,b,c,d))

True
False
False
False
10
num 10

In [15]:
# bitwise operators
a= 1100
b=1010
print(a or b)

In [18]:
#  bin(0b1100 | 0b1010)

'0b1110'

In [25]:
# two no. a&[(a|b)>>31]
a1 = 10
b1 = 20
print(a1 & ((a1 | b1) >> 31 ))

0